
<div class="table">
<ion-content class="table">
  <div class="row header" >
    <div class="col col-25">Date</div>
    <div class="col col-25">Category</div>
    <div class="col col-25">Amount</div>
    <div class="col col-25">Received Type</div>
  </div>
  <div class="row" ng-repeat="data in userCtrl.incomeDetailes">
    <div class="col col-25">{{data.Date | date:"dd-MM-yyyy"}}</div>
    <div class="col col-25">{{data.Category}}</div>
    <div class="col col-25"> {{data.Amount}}</div>
    <div class="col col-25">{{data.Received}}</div>
  </div>
</ion-content>
</div>

